body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
}



/* Start Navbar */
.navbar {
    background-color: #333;
    padding: 10px;
}


.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}


/* End Navbar */


h1 {
    color: blue;
}


/* Start Footer */
.footer {
    background-color: greenyellow;
    padding: 10px;
}


.footer a {
    color: black;
    text-decoration: none;
    padding: 10px;
}
/* End Footer */