<!DOCTYPE html>
<html lang="en" ng-app="trainingApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Training Carousel</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
    <style></style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>
  <body ng-controller="TrainingController">
    <!-- Navbar -->
    <nav class="navbar sticky-top navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand fw-bold DancingScript" href="/">TaraFit</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/training">Training</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/menu">Menu</a></li>
            <li class="nav-item"><a class="nav-link" href="/">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            <li class="nav-item">
              <a class="nav-link" href="/login-and-signup">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container my-5">
      <h1 class="mb-4">Training List</h1>
      <!-- Offcanvas -->
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="todolistOffcanvas"
        aria-labelledby="todolistOffcanvasLabel"
        ng-init="getToDoList()"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="todolistOffcanvasLabel">
            Your Todolist
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>

        <div class="offcanvas-body" ng-controller="ToDoListController">
          <div
            class="card mb-3"
            ng-repeat="item in todoTrainings track by $index"
          >
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">
                {{ item.training.description || 'No description available' }}
              </p>
              <a
                ng-href="{{ item.training.link }}"
                class="btn btn-primary btn-sm"
                target="_blank"
                ng-if="item.training.link"
              >
                View Training
              </a>
              <div class="mb-3 mt-3">
                <label for="priority-{{ item.idTraining }}" class="form-label">
                  Update Priority:
                </label>
                <input
                  type="number"
                  class="form-control"
                  id="priority-{{ item.idTraining }}"
                  ng-model="item.priority"
                  min="1"
                  max="10"
                />
              </div>
              <button
                class="btn btn-success btn-sm"
                ng-click="updatePriority(item.id, item.priority)"
              >
                Update Priority
              </button>
              <button
                class="btn btn-success btn-sm"
                ng-click="deleteToDoList(item.id)"
              >
                Finished
              </button>
            </div>
          </div>
          <div ng-if="!todoTrainings.length" class="text-center mt-4">
            <p>No items in your todolist. Try refreshing</p>
          </div>
        </div>
      </div>
      <!-- Carousel untuk menampilkan menu latihan -->
      <div class="carousel-container">
        <div
          class="card userView-card"
          ng-repeat="training in trainings track by $index"
        >
          <img
            class="lazy"
            ng-src="data:{{training.img.contentType}};base64,{{training.img.data}}"
            alt="Training Image"
            loading="lazy"
          />
          <div class="card-body">
            <h5 class="card-title">{{ training.title }}</h5>
            <p class="card-text">{{ training.description }}</p>
            <p><strong>Rating:</strong> {{ training.rating || 0 }} / 5</p>
            <a
              ng-href="{{ training.link }}"
              class="btn btn-outline-primary card-link"
              target="_blank"
            >
              Learn More
            </a>
            <!-- Tombol untuk menambahkan ke todolist -->
            <div ng-controller="ToDoListController">
              <button
                class="btn btn-success w-100 add-to-todolist-button mt-1"
                ng-click="addToDoList(training._id)"
              >
                Add to Todolist
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Tombol untuk membuka offcanvas -->
      <button
        class="btn btn-primary"
        data-bs-toggle="offcanvas"
        data-bs-target="#todolistOffcanvas"
      >
        View Todolist
      </button>
    </div>
    <!-- Footer -->
    <footer class="footer-container">
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4">
            <h5 class="footer-title">Footer Content</h5>
            <p class="footer-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste
              atque ea quis molestias. Fugiat pariatur maxime quis culpa
              corporis vitae repudiandae aliquam voluptatem veniam, est atque
              cumque eum delectus sint!
            </p>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="footer-title">Links</h5>
            <ul class="list-unstyled mb-0">
              <li class="mb-1">
                <a href="#!" class="footer-link">FAQ</a>
              </li>
              <li class="mb-1">
                <a href="#!" class="footer-link">Classes</a>
              </li>
              <li class="mb-1">
                <a href="#!" class="footer-link">Pricing</a>
              </li>
              <li>
                <a href="#!" class="footer-link">Safety</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="footer-title">Opening Hours</h5>
            <table class="table footer-table">
              <tbody>
                <tr>
                  <td>Mon - Fri:</td>
                  <td>8am - 9pm</td>
                </tr>
                <tr>
                  <td>Sat - Sun:</td>
                  <td>8am - 1am</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="footer-copyright DancingScript">© 2024 Copyright TaraFit</div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="trainingController.js"></script>
    <script src="todolistController.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js"
      async
    ></script>
  </body>
</html>
