body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:  #913436;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    height: 85%;
    background: #FFF6E3;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transform: perspective(1500px);
}

.form-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s ease-in-out;
    background: #FFF6E3;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-content {
    width: 100%;
    max-width: 400px;
}

.form-content h2 {
    color: #913436;
    margin-bottom: 20px;
    font-weight: 600;
}

.form-content .form-control {
    border-radius: 8px;
}

.form-content .btn {
    margin-top: 15px;
    background-color: #227414;
    border: none;
    border-radius: 8px;
    color: #FFF6E3;
    font-weight: bold;
}

.form-content .btn:hover {
    background-color: #BBD799;
}

.form-content .form-group {
    margin-bottom: 1.2rem;
}

.image-container {
    flex: 1;
    background: url('/public/image/pastel1.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(109, 44, 44);
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 15px;
    transition: transform 1s ease-in-out;
}

.image-container h2 {
    font-family: 'Dancing Script', cursive;
    margin-left: 5%;
    font-size: 6rem;
    font-weight: bold;
    color: #F59C40;
    text-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    
}

.container.right-panel-active .form-container {
    transform: translateX(-100%);
}

.container.right-panel-active .image-container {
    transform: translateX(100%);
}

.text-center a {
    color: #913436;
    text-decoration: none;
}

.text-center a:hover {
    color: #E6782B;
}